BODY
{
    SCROLLBAR-FACE-COLOR: #ffffff;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    MARGIN: 0px;
    SCROLLBAR-HIGHLIGHT-COLOR: #e9e9e9;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    SCROLLBAR-3DLIGHT-COLOR: #999999;
    SCROLLBAR-ARROW-COLOR: #660033;
    SCROLLBAR-TRACK-COLOR: #e9e9e9;
    HEIGHT: 70px
}
.lightblue1
{
    BACKGROUND-COLOR: lightsteelblue
}
.white1
{
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana
}
.lightgray1
{
    BACKGROUND-COLOR: gainsboro
}
.arial5
{
    FONT-SIZE: 20px;
    FONT-FAMILY: Arial
}
.blink
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana
}
A:hover
{
    FONT-SIZE: 10px;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.ctmfont
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.yellow1
{
    FONT-SIZE: 10px;
    COLOR: yellow;
    FONT-FAMILY: Verdana
}
.lightgreen1
{
    BACKGROUND-COLOR: #8fbc8f
}
.green
{
    BACKGROUND-COLOR: darkseagreen
}
.black-1
{
    FONT-SIZE: 9px;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.red
{
    BACKGROUND-COLOR: #ff6666
}
.darkgreen
{
    FONT-SIZE: 10px;
    COLOR: darkgreen;
    FONT-FAMILY: Verdana
}
.lightbluefont
{
    FONT-SIZE: 10px;
    COLOR: royalblue;
    FONT-FAMILY: Verdana
}
.ctmfontred
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.blue2
{
    FONT-SIZE: 13px;
    COLOR: blue;
    FONT-FAMILY: Verdana
}
.ctmfontgray
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.black-2
{
    FONT-SIZE: 8px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.blue11
{
    FONT-SIZE: 10px;
    COLOR: #6487dc;
    FONT-FAMILY: Verdana
}
.blue111
{
    FONT-SIZE: 10px;
    COLOR: blue;
    FONT-FAMILY: Verdana
}
.ctmsoftware
{
    FONT-SIZE: 10px;
    COLOR: aqua;
    FONT-FAMILY: Verdana
}
.ctmfonthelp
{
    FONT-SIZE: 9px;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.gray-1
{
    FONT-SIZE: 9px;
    COLOR: gray;
    FONT-FAMILY: Verdana
}
.ctmfontwhite
{
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.ctmfontblue
{
    FONT-SIZE: 10px;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A:active
{
    FONT-SIZE: 10px;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.red2
{
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Verdana
}
.green12
{
    FONT-SIZE: 11px;
    COLOR: green;
    FONT-FAMILY: Verdana
}
.red12
{
    FONT-SIZE: 11px;
    COLOR: red;
    FONT-FAMILY: Verdana
}
.grayback
{
    BACKGROUND-COLOR: #cccccc
}
.white-1
{
    FONT-SIZE: 9px;
    COLOR: white;
    FONT-FAMILY: Verdana
}
.ctmfont2
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.main:visited
{
    COLOR: #0099ff;
    TEXT-DECORATION: none
}
.main:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.main:hover
{
    COLOR: #99ccff;
    TEXT-DECORATION: none
}
.red-1
{
    FONT-SIZE: 9px;
    COLOR: red;
    FONT-FAMILY: Verdana
}
.black3
{
    FONT-SIZE: 15px;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.gray2
{
    FONT-SIZE: 12px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav:visited
{
    FONT-SIZE: 10px;
    COLOR: royalblue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav:link
{
    FONT-SIZE: 10px;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav:hover
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.input_box
{
    BORDER-RIGHT: #9d95c2 1px solid;
    BORDER-TOP: #9d95c2 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #9d95c2 1px solid;
    COLOR: blue;
    BORDER-BOTTOM: #9d95c2 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f0f0f0
}
.input_box1
{
    BORDER-RIGHT: #9d95c2 1px solid;
    BORDER-TOP: #9d95c2 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #9d95c2 1px solid;
    COLOR: blue;
    BORDER-BOTTOM: #9d95c2 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f0f0f0
}
.input_box2
{
    BORDER-RIGHT: 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: 1px solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: 1px solid;
    COLOR: #ffffff;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #8684d6
}
.input_checkbox
{
    BACKGROUND-COLOR: gainsboro
}
.text_area
{
}
.notes1
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Verdana
}
.save1
{
}
.purple
{
    BACKGROUND-COLOR: #adaddf
}
.box1
{
    BACKGROUND-COLOR: #9999cc
}
.box_border1
{
    BACKGROUND-COLOR: #f0f0f0
}
.nav_white
{
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_white ACTIVE
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_white VISITED
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.input_boxD
{
    BORDER-RIGHT: #9d95c2 solid;
    BORDER-TOP: #9d95c2 solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #9d95c2 solid;
    COLOR: green;
    BORDER-BOTTOM: #9d95c2 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f0f0f0
}
.green_box
{
    BACKGROUND-COLOR: #a3d0a3
}
.input_boxS
{
    BORDER-RIGHT: #9d95c2 1px solid;
    BORDER-TOP: #9d95c2 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #9d95c2 1px solid;
    COLOR: blue;
    BORDER-BOTTOM: #9d95c2 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #d7d7d7
}
.warn_red:hover
{
    FONT-SIZE: 10px;
    COLOR: green;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.warn_red:link
{
    FONT-SIZE: 10px;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.warn_red:visited
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.black0
{
    FONT-SIZE: 1px;
    COLOR: black
}
.c_gray1
{
    BACKGROUND-COLOR: #a9a9a9
}
.c_gray2
{
    BACKGROUND-COLOR: #cccccc
}
.c_red1
{
    BACKGROUND-COLOR: #ff6347
}
.purple1
{
    BACKGROUND-COLOR: #d1d0e9
}
.nav_black2
{
    FONT-SIZE: 10px;
    COLOR: black;
    TEXT-DECORATION: none
}
.nav_black2 A:hover
{
    FONT-SIZE: 12px;
    COLOR: fuchsia;
    TEXT-DECORATION: none
}
.c_gray3
{
    BACKGROUND-COLOR: #bababa
}
.c_orange1
{
    COLOR: aqua;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ff9966;
    TEXT-DECORATION: none
}
.c_gray4
{
    BACKGROUND-COLOR: #b9b9b9
}
.green3
{
    FONT-SIZE: 12px;
    COLOR: lightgreen;
    FONT-FAMILY: Verdana
}
.c_gray5
{
    BACKGROUND-COLOR: #e9e9e9
}
.c_beige1
{
    BACKGROUND-COLOR: #faf0e6
}
.c_green1
{
    BACKGROUND-COLOR: #8fbc8f
}
.c_blue1
{
    BACKGROUND-COLOR: #d2e6ff
}
.c_blue2
{
    BACKGROUND-COLOR: #fff5ee
}
.lightgo
{
    BORDER-RIGHT: navy 1px ridge;
    BORDER-TOP: navy 1px ridge;
    FONT-WEIGHT: lighter;
    TEXT-TRANSFORM: none;
    BORDER-LEFT: navy 1px ridge;
    BORDER-BOTTOM: navy 1px ridge;
    BACKGROUND-COLOR: #fafafa
}
.c_gray6
{
    BACKGROUND-COLOR: #f2f2f2
}
.c_gray7
{
    BACKGROUND-COLOR: #fdfdfd
}
.orange1
{
    FONT-SIZE: 10px;
    COLOR: #ff9151;
    FONT-FAMILY: Verdana
}
.c_purple
{
    BACKGROUND-COLOR: #adaddf
}
.c_purple1
{
    BACKGROUND-COLOR: #d1d0e9
}
.c_purple2
{
    BACKGROUND-COLOR: #9999cc
}
.green11
{
    FONT-SIZE: 10px;
    COLOR: #5f8f5e;
    FONT-FAMILY: Verdana
}
.c_green2
{
    BACKGROUND-COLOR: #66cc99
}
.orange2
{
    FONT-SIZE: 10px;
    COLOR: sandybrown;
    FONT-FAMILY: Verdana
}
.c_green3
{
    BACKGROUND-COLOR: #99cc99
}
.c_green4
{
    BACKGROUND-COLOR: #c1d5b7
}
.c_beige2
{
    BACKGROUND-COLOR: #e6dcb8
}
.input_box_Fgray
{
    BORDER-RIGHT: #9d95c2 1px solid;
    BORDER-TOP: #9d95c2 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #9d95c2 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #9d95c2 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f0f0f0
}
.c_gray8
{
}
.c_gray71
{
    BACKGROUND-COLOR: #f5f5f5
}
.c_gray72
{
    BACKGROUND-COLOR: #e9e9e9
}
.c_gray73
{
    BACKGROUND-COLOR: #e4e4e4
}
.c_gray74
{
    BACKGROUND-COLOR: #dedede
}
.c_gray75
{
    BACKGROUND-COLOR: #f6f6f6
}
.c_gray76
{
}
.nav_green:visited
{
    FONT-SIZE: 10px;
    COLOR: green;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_green:link
{
    FONT-SIZE: 10px;
    COLOR: green;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_green:hover
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.c_orange2
{
    BACKGROUND-COLOR: #ffcc99
}
.input_box6
{
    FONT-SIZE: 11px;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f7f7f7
}
.input_box7
{
    FONT-SIZE: 11px;
    COLOR: darkorange;
    FONT-FAMILY: Verdana
}
.orange3
{
    FONT-SIZE: 10px;
    COLOR: orange;
    FONT-FAMILY: Verdana
}
.nav_orange:visited
{
    FONT-SIZE: 10px;
    COLOR: darkorange;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_orange:link
{
    FONT-SIZE: 10px;
    COLOR: darkorange;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_orange:hover
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.input_blank
{
    BORDER-RIGHT: #f5f5f5;
    BORDER-TOP: #f5f5f5;
    FONT-SIZE: 11px;
    BORDER-LEFT: #f5f5f5;
    COLOR: blue;
    BORDER-BOTTOM: #f5f5f5;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f5f5f5
}
.input_blank_w
{
    BORDER-RIGHT: blue thin;
    BORDER-TOP: blue thin;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    BORDER-LEFT: blue thin;
    COLOR: blue;
    BORDER-BOTTOM: blue thin;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.c_purple3
{
    BACKGROUND-COLOR: #c7c7df
}
.input_boxgray
{
}
.input_box_clear12
{
    BORDER-RIGHT: blue;
    BORDER-TOP: blue;
    FONT-SIZE: 12px;
    BORDER-LEFT: blue;
    COLOR: blue;
    BORDER-BOTTOM: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.c_green5
{
    BACKGROUND-COLOR: #e0e4b6
}
.purple2
{
    BACKGROUND-COLOR: #f0efe7
}
.nav_red:visited
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_red:hover
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_red:link
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_blue:visited
{
}
.nav_blue
{
}
.purple3
{
    BACKGROUND-COLOR: #cdcdc3
}
.orange4
{
    FONT-SIZE: 12px;
    COLOR: #ff9151;
    FONT-FAMILY: Verdana
}
.black-5
{
    FONT-SIZE: 5px;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.input_blank_w1
{
    BORDER-RIGHT: blue thin;
    BORDER-TOP: blue thin;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    BORDER-LEFT: blue thin;
    COLOR: blue;
    BORDER-BOTTOM: blue thin;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.green_box1
{
    BACKGROUND-COLOR: #e0ffee
}
.c_red2
{
    BACKGROUND-COLOR: #ffd8ce
}
.blue-1
{
    FONT-SIZE: 9px;
    COLOR: blue;
    FONT-FAMILY: Verdana
}
.arial_12
{
    FONT-SIZE: smaller;
    COLOR: black;
    FONT-FAMILY: Arial
}
.arial_12g
{
    FONT-SIZE: smaller;
    COLOR: gray;
    FONT-FAMILY: Arial
}
.blue2g
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: blue;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial
}
.black1
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.arial2
{
    FONT-SIZE: 14px;
    FONT-FAMILY: Arial
}
.bannermain
{
    BACKGROUND-COLOR: slategray
}
.black2
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.blue1
{
    FONT-SIZE: 10px;
    COLOR: blue;
    FONT-FAMILY: Verdana
}
.blueL7
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 7pt;
    COLOR: #0d2b88;
    FONT-FAMILY: Verdana
}
.blueL9
{
    FONT-SIZE: 9px;
    COLOR: #0d2b88;
    FONT-FAMILY: Verdana
}
.box
{
    BACKGROUND-COLOR: #f5f5f5
}
.boxbeige
{
    BACKGROUND-COLOR: beige
}
.boxgray
{
    BACKGROUND-COLOR: #d3d3d3
}
.boxname
{
    BACKGROUND-COLOR: #6495ed
}
.gray1
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana
}
.green1
{
    FONT-SIZE: 10px;
    COLOR: green;
    FONT-FAMILY: Verdana
}
.input_boxw
{
    BORDER-RIGHT: #9d95c2 1px solid;
    BORDER-TOP: #9d95c2 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #9d95c2 1px solid;
    COLOR: blue;
    BORDER-BOTTOM: #9d95c2 1px solid;
    FONT-FAMILY: Verdana
}
.white2
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Verdana
}
.submit
{
    BORDER-RIGHT: lightsteelblue 1px groove;
    BORDER-TOP: lightsteelblue 1px groove;
    FONT-SIZE: 11px;
    BORDER-LEFT: lightsteelblue 1px groove;
    COLOR: darkblue;
    BORDER-BOTTOM: lightsteelblue 1px groove;
    BACKGROUND-COLOR: lightsteelblue
}
.red1
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Verdana
}
.green2
{
    FONT-SIZE: 12px;
    COLOR: green;
    FONT-FAMILY: Verdana
}
.arial_10
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.banner_green
{
    BACKGROUND: url(images/gradient_green88.jpg) #cdcdc3 repeat-x 0px 0px
}
.banner_gray
{
    BACKGROUND: url(images/gradient_gray.jpg) #a9a9a9 repeat-x 0px 0px
}
.banner_blue
{
    BACKGROUND: url(images/gradient_blue1.jpg) #9999cc repeat-x 0px 0px
}
.banner_green1
{
    BACKGROUND: url(images/gradient_green8b.jpg) #cdcdc3 repeat-x 0px 0px
}
.button
{
    BORDER-RIGHT: #2d3e66 1px solid;
    BACKGROUND-POSITION: 0px 0px;
    BORDER-TOP: #2d3e66 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    BACKGROUND-ATTACHMENT: scroll;
    BACKGROUND-IMAGE: url(images/gradient_blue1.jpg);
    BORDER-LEFT: #2d3e66 1px solid;
    COLOR: white;
    BORDER-BOTTOM: #2d3e66 1px solid;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: Verdana
}
.banner_orange
{
    BACKGROUND: url(images/gradient_orange2.jpg) #ff9151 repeat-x 0px 0px
}
.banner_gray1
{
    BACKGROUND: url(images/gradient_gray2.jpg) #e9e9e9 repeat-x 0px 0px
}
.banner_green2
{
    BACKGROUND-IMAGE: url(images/gradient_green7.jpg);
    BACKGROUND-COLOR: #f0efe7
}
.banner_blue1
{
    BACKGROUND: url(images/gradient_blue2.jpg) #d1d0e9 repeat-x 0px 0px
}
.banner_green_s
{
    BACKGROUND: url(images/gradient_green_s.jpg) #cdcdc3 repeat-x 0px 0px
}
.arial_10a
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.arial_8
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.arial_10ab
{
    FONT-SIZE: 10px;
    COLOR: blue;
    FONT-FAMILY: Arial
}
.nav_gray:hover
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_gray:link
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.nav_gray:visited
{
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}